.ab-services {
  display: flex;
  flex-direction: column;
  padding: 76px 0px 20px;
}

.ab-services > picture {
  display: flex;
}

.ab-services__head {
  padding: 26px 0px;
  background: #f5f5f7;
  text-align: center;
  font-size: 20px;
  margin-bottom: 34px;
}

.ab-services__head br {
  display: none;
}

.ab-services__text {
  color: #777;
  line-height: 188%;
  text-align: center;
  margin-bottom: 24px;
}

.ab-services__text br:not(:first-child) {
  display: none;
}

.ab-services__image {
  margin: 0px auto 35px;
  max-width: 1280px;
  width: 100%;
}

.ab-services__list {
  padding: 0px 38px;
}

.ab-services__list h3 {
  font-size: 20px;
  line-height: 130%;
}

.ab-services__list h3 br {
  display: none;
}

.ab-services__list ul {
  margin-top: 15px;
  padding-left: 2px;
  color: #777;
}

.ab-services__list ul li:not(:last-child) {
  margin-bottom: 4px;
}

.ab-video {
  padding: 70px 0px 20px;
  width: 100%;
}

.ab-video__box {
  height: 220px;
  background: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ab-video__box > .video-container {
  height: 100%;
  width: auto;
}

.ab-video__button {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #fff;
  background: transparent;
}

.ab-video__button img,
.ab-video__button picture img {
  margin-left: 110%;
}

.ab-card {
  padding: 53px 10px 32px 48px;
  margin-top: 26px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

.ab-card__head {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 17px;
  width: 95%;
}

.ab-card__head h3 {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 15px;
}

.ab-card__head p {
  color: #777;
}

.ab-card__list {
  padding-top: 33px;
}

.ac-list {
  display: grid;
  grid-template-columns: 52.1% 1fr;
}

.ac-list__item ul {
  padding-left: 0px;
  padding-top: 16px;
}

.ac-list__item li {
  color: #777;
  line-height: 175%;
}

.ab-final {
  padding: 59px 0px 43px;
}

.af-box {
  display: grid;
  grid-template-columns: 50% 1fr;
}

.af-box__item {
  display: flex;
  padding-right: 93px;
  margin-bottom: 37px;
}

.af-box__item:last-child {
  margin-bottom: 31px !important;
}

.af-box__item img,
.af-box__item picture img {
  width: 27px;
  height: 27px;
  margin-right: 22px;
}

.af-box__item:nth-child(2) br:last-child {
  display: none;
}

.af-sol {
  position: relative;
  display: flex;
  width: 100%;
  height: 180px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  overflow: hidden;
}

.af-sol__img {
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 60%, rgb(255, 255, 255) 100%), url("../img/about-solutions.jpg");
  background-size: cover;
}

.af-sol__text {
  position: absolute;
  width: 61.7%;
  right: 0;
  top: 30px;
  padding-right: 23px;
}

.af-sol__text p {
  margin-bottom: 33px;
}

.af-sol__button {
  padding: 14px 25px;
  margin-top: 10px;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  border-radius: 100px;
}

.af-sol__button:hover {
  background: #333;
  color: #fff;
}

@media (max-width: 992px) {
  .ab-services {
    padding: 0px 0px 20px;
  }

  .ab-services__head {
    font-size: 16px;
    line-height: inherit;
    margin-bottom: 37px;
  }

  .ab-services__text {
    line-height: 138%;
    margin-bottom: 34px;
  }

  .ab-services__text br:first-child {
    display: none;
  }

  .ab-services__image {
    margin: 0px auto 33px;
  }

  .ab-services__list {
    padding: 0;
  }

  .ab-services__list h3 {
    font-size: 16px;
  }

  .ab-services__list ul {
    margin-top: 10px;
    padding-left: 0px;
  }

  .ab-services__list ul li:not(:last-child) {
    margin-bottom: 4px;
  }

  .ab-video {
    padding: 43px 0px 20px;
    display: flex;
  }

  .ab-video__button {
    transform: scale(0.5);
  }

  .ab-card {
    padding: 33px 10px 19px 14px;
    margin-top: 5px;
  }

  .ab-card__head {
    padding-bottom: 3px;
    width: 99%;
  }

  .ab-card__head h3 {
    margin-bottom: 20px;
  }

  .ab-card__head p br {
    display: none;
  }

  .ab-card__list {
    padding-top: 23px;
  }

  .ac-list {
    grid-template-columns: 52.8% 1fr;
  }

  .ac-list__item ul {
    padding-top: 5px;
  }

  .ac-list__item li {
    color: #777;
    line-height: 175%;
  }

  .ab-final {
    padding: 50px 0px 23px;
  }

  .container_ ~ .ab-final {
    max-width: 712px;
    width: 100%;
  }

  .af-box__item {
    padding-right: 16px;
    margin-bottom: 15px;
  }

  .af-box__item:last-child {
    margin-bottom: 23px !important;
  }

  .af-box__item img,
  .af-box__item picture img {
    margin-right: 13px;
  }

  .af-box__item:not(:nth-child(2)) br {
    display: none;
  }

  .af-box__item:nth-child(2) br:first-child {
    display: none;
  }

  .af-box__item:nth-child(2) br:last-child {
    display: inline;
  }

  .af-sol {
    flex-direction: column;
    min-height: 391px;
  }

  .af-sol {
    flex-direction: column;
    min-height: 374px;
  }

  .af-sol__img {
    width: 100%;
    max-height: 180px;
    margin-top: -2px;
    border: 0;
  }

  .af-sol__text {
    position: relative;
    width: 100%;
    padding-right: 15px;
  }

  .af-sol__text p {
    margin: -1px 0px 38px 17px;
  }

  .af-sol__text a {
    margin-left: 17px;
  }
}

@media (max-width: 500px) {
  .ab-services__head {
    width: 90%;
    padding: 24px 10px;
    margin: 0px auto 30px;
  }

  .ab-services__head br {
    display: inline;
  }

  .ab-services__text {
    line-height: 138%;
    margin-bottom: 27px;
  }

  .ab-services__text br:first-child {
    display: none;
  }

  .ab-services__text br:not(:first-child) {
    display: inline;
  }

  .ab-services__image {
    margin: 0px auto 20px;
    transform: scale(0.96);
  }

  .ab-services__list {
    padding: 0px 13px;
  }

  .ab-services__list h3 {
    line-height: 150%;
  }

  .ab-services__list h3 br {
    display: inline;
  }

  .ab-services__list ul {
    margin-top: 22px;
  }

  .ab-services__list ul li {
    line-height: 170%;
    margin-bottom: 1.5px !important;
  }

  .ab-video {
    display: initial;
  }

  .ab-video__box {
    width: 100vw;
    height: 220px;
    margin-top: 16px;
  }

  .ab-video__button {
    transform: scale(1);
  }

  .ab-card {
    padding: 32px 10px 15px 12px;
    margin-top: 29px;
  }

  .ab-card__head {
    padding-bottom: 16px;
  }

  .ab-card__head h3 {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 16px;
  }

  .ab-card__head p {
    font-size: 15px;
    line-height: 147%;
  }

  .ab-card__head p br {
    display: none;
  }

  .ab-card__list {
    padding-top: 32px;
  }

  .ac-list {
    grid-template-columns: 100%;
  }

  .ac-list__item:not(:last-child) {
    margin-bottom: 5px;
  }

  .ac-list__item ul {
    padding-top: 2px;
  }

  .ac-list__item li {
    color: #777;
    line-height: 175%;
  }

  .ab-final {
    padding: 50px 0px 0px;
  }

  .af-box {
    grid-template-columns: 100%;
  }

  .af-box__item {
    flex-direction: column;
    padding-right: 0px;
    margin-bottom: 31px;
  }

  .af-box__item img,
  .af-box__item picture img {
    margin: 0px 0px 5px -2px;
  }

  .af-box__item:last-child {
    margin-bottom: 7px !important;
  }

  .af-sol__img {
    width: 100%;
    max-height: 77px;
    margin-top: 0px;
    margin-left: -4px;
  }

  .af-sol__text {
    padding-right: 5px;
  }

  .af-sol__text p {
    margin: -16px 0px 41px 12px;
  }

  .af-sol__text a {
    margin-left: 29px;
  }

  .ab-footer {
    margin-top: -11px;
  }
}

@media (max-width: 992px) and (min-width: 500.1px) {
  .ab-video__box {
    max-width: 708px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 277px;
  }
}

.webp .af-sol__img { background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 60%, rgb(255, 255, 255) 100%), url(../img/about-solutions.webp); }