.spare-parts {
  padding-top: 93px;
}

.spare-parts h3 {
  font-size: 20px;
  line-height: 130%;
}

.spare-parts__head {
  text-align: center;
}

.spare-parts__block {
  margin-top: 36px;
}

.spare-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.spare-block__item {
  width: 332px;
  text-align: center;
  margin-bottom: 61px;
}

.spare-block__item a {
  color: #337AB7;
}

.spare-block__item_upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 5px #999;
}

.spare-block__item_upper > img,
.spare-block__item_upper .spi-image {
  position: relative;
  margin-bottom: 28px;
  width: 100%;
}

.spare-block__item_upper > img {
  margin-bottom: 28px;
  width: 100%;
}

.spare-block__item_upper .spi-image img:first-child {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.spare-block__item_upper .spi-image img:last-child {
  width: 100%;
}

.spare-block__item_upper .spi-bg {
  z-index: 9 !important;
}

.spare-block__item_upper > h3 {
  margin-bottom: 10px;
}

.spare-block__item_upper > span {
  line-height: 138%;
  color: #666;
  margin-bottom: 28px;
}

.spare-block__item_upper > hr {
  background: #8b8b8b;
  width: 80%;
  margin-top: 7px;
  margin-bottom: 25px;
}

.spare-block__item_bottom {
  margin-top: 17px;
  font-size: 14px;
  line-height: 157%;
  color: #999;
}

.stc-centers {
  display: flex;
  flex-wrap: wrap;
  padding: 72px 0px 20px;
  -webkit-column-gap: 40px;
  column-gap: 40px;
}

.stc-centers__head {
  width: 100%;
  font-size: 20px;
  line-height: 130%;
}

.location__head {
  display: flex;
  align-items: end;
  font-size: 18px;
  line-height: 144%;
}

.location__head > *:first-child {
  margin-right: 7px;
}

.stc-centers__location {
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
}

.stc-centers__block {
  margin-top: 20px;
}

.sc-block {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-shadow: 3px 3px 7px #999;
}

.sc-block__item {
  display: flex;
  align-items: center;
  background: #fff;
  min-height: 99px;
  min-width: 658px;
  padding: 0px 27px 0px 18px;
}

.sc-block__item:not(:last-child) {
  border-bottom: 1px solid #d1d1d1;
}

.sc-block__item_left > span:first-child {
  font-size: 18px;
  line-height: 138%;
}

.sc-block__item_left > span:last-child {
  font-size: 14px;
  line-height: 16px;
  color: #666;
}

.sc-block__item_left b {
  color: #C4C4C4;
  margin: 0px 4px;
}

.sc-block__item_button {
  border-radius: 2em;
  border: 1px solid #CECECE;
  margin-left: auto;
  line-height: 19px;
  padding: 15px 28px;
}

.stc-video {
  padding: 81px 0px 20px 0px;
}

.stc-video__head {
  font-size: 20px;
  line-height: 130%;
}

.stc-video__block {
  margin-top: 37px;
}

.sv-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-column-gap: 41px;
  column-gap: 41px;
  -webkit-row-gap: 52px;
  row-gap: 52px;
}

.sv-box__item {
  width: 426px;
}

.sv-box__item_video {
  width: 426px;
  height: 272px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 5px #999;
}

.stc-form {
  width: 100%;
  min-height: 540px;
  background: linear-gradient(87.2deg, rgba(0, 0, 0, 0.6) 34.43%, rgba(0, 0, 0, 0.551004) 42.53%, rgba(0, 0, 0, 0.40087) 50.63%, rgba(0, 0, 0, 0.334385) 53.33%, rgba(0, 0, 0, 0.265615) 56.03%, rgba(0, 0, 0, 0.19913) 58.73%, rgba(0, 0, 0, 0.0489959) 66.83%, rgba(0, 0, 0, 0) 74.93%), url("../img/stc-background.jpg");
  border-radius: 5px;
  margin-top: 87px;
  padding: 36px 75px 20px 36px;
  display: flex;
}

.stc-form__text {
  max-width: 701px;
  font-weight: 700;
  font-size: 40px;
  line-height: 140.62%;
  color: #fff;
  margin-top: 102px;
}

.stc-form__form {
  margin-left: auto;
}

.sf-form {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 393px;
  height: 466px;
  padding: 10px 10px;
}

.sf-form h3 {
  text-align: center;
}

.stc-serv {
  padding: 89px 0px 20px 0px;
}

.stc-serv a {
  color: #337AB7;
}

.stc-serv__head {
  font-size: 20px;
  line-height: 130%;
}

.stc-serv__content {
  padding: 6px 40px 50px;
}

.stc-serv__content > *:last-child .ss-list {
  grid-template-columns: 53.6% 1fr;
}

.stc-serv__content > *:last-child .ss-list li:first-child {
  margin-bottom: 10px !important;
  color: #333;
}

.stc-serv__content_block {
  padding-top: 40px;
  padding-bottom: 44px;
}

.stc-serv__content_block span:nth-child(1) {
  line-height: 162%;
}

.stc-serv__content_block span:nth-child(3) {
  line-height: 175%;
}

.stc-serv__content_block:not(:last-child) {
  border-bottom: 1px solid #d1d1d1;
}

.stc-serv__list {
  margin-top: 9px;
  margin-bottom: -1px;
}

.ss-list {
  display: grid;
  grid-template-columns: 27.8% 25.8% 23.8% 1fr;
}

.ss-list__item {
  padding-left: 0px;
}

.ss-list__item li {
  color: #777;
  line-height: 175%;
}

@media (min-width: 500.1px) {
  .spi-br {
    display: none;
  }

  .stc-centers__location:nth-child(3) .sc-block__item:nth-child(3) {
    display: none;
  }

  .stc-video__head br {
    display: none;
  }
}

@media (max-width: 992px) {
  .spare-parts {
    padding-top: 0px;
  }

  .spare-parts__head {
    display: none;
  }

  .spare-block__item {
    width: 339px;
    margin-bottom: 61px;
  }

  .spare-block__item_upper > img,
  .spare-block__item_upper .spi-image {
    margin-bottom: 12px;
  }

  .spare-block__item_upper > h3 {
    margin-bottom: 7px;
  }

  .spare-block__item_upper > span {
    margin-bottom: 25px;
  }

  .spare-block__item_upper > hr {
    margin-bottom: 24.5px;
  }

  .spare-block__item_bottom {
    margin-top: 6px;
  }

  .stc-centers {
    padding: 55px 0px 20px;
  }

  .stc-centers__location {
    width: 100%;
  }

  .stc-centers__block {
    margin-bottom: 36px;
  }

  .sc-block {
    width: 100%;
  }

  .sc-block__item {
    min-width: 0px;
    width: 100%;
    padding: 0px 29px 0px 18px;
    flex-wrap: wrap;
  }

  .sc-block__item_button {
    padding: 15px 33px;
  }

  .stc-video {
    padding: 3px 0px 20px 0px;
  }

  .stc-video__block {
    margin-top: 27px;
  }

  .sv-box {
    -webkit-column-gap: 30px;
    column-gap: 30px;
    -webkit-row-gap: 29px;
    row-gap: 29px;
  }

  .sv-box__item {
    width: 339px;
  }

  .sv-box__item > div:first-child {
    text-align: center;
    margin-bottom: 4px;
  }

  .sv-box__item_video {
    width: 339px;
    height: 216px;
  }
}

@media (max-width: 710px) {
  .spare-block__item {
    margin: 0px auto 25px;
  }
}

@media (max-width: 500px) {
  .spare-block__item {
    margin-bottom: 25px;
  }

  .spare-block__item_upper > img,
  .spare-block__item_upper .spi-image {
    margin-bottom: 10px;
  }

  .spare-block__item_upper > h3 {
    margin-bottom: 2px;
  }

  .spare-block__item_upper > span {
    margin-bottom: 20px;
  }

  .spare-block__item_upper > hr {
    margin-bottom: 17px;
  }

  .stc-centers {
    padding: 44px 0px 20px;
  }

  .stc-centers__head {
    text-align: center;
  }

  .stc-centers__location {
    margin-top: 28px;
  }

  .stc-centers__block {
    margin-top: 13px;
    margin-bottom: 22px;
  }

  .sc-block__item {
    padding: 16.5px 0px 20px 12px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 137px;
  }

  .sc-block__item_button {
    margin-left: 0px;
    margin-right: auto;
    margin-top: 16px;
    padding: 15px 28px;
  }

  .stc-video {
    padding: 10px 0px 20px 0px;
  }

  .stc-video__head {
    text-align: center;
  }

  .stc-video__block {
    margin-top: 14px;
  }

  .sv-box {
    -webkit-column-gap: 0px;
    column-gap: 0px;
    -webkit-row-gap: 17px;
    row-gap: 17px;
  }

  .sv-box__item {
    width: 290px;
  }

  .sv-box__item > div:first-child {
    text-align: center;
    margin-bottom: 2px;
  }

  .sv-box__item_video {
    width: 290px;
    height: 185px;
  }
}

@media (max-width: 1400px) and (min-width: 992.1px) {
  .spare-block__item {
    margin: 0px auto 61px;
  }
}