.header {
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0px 20px;
}

.header__container {
  min-height: 170px;
}

.header__container_upper {
  display: flex;
  align-items: center;
  min-width: 100%;
}

.header__logo img {
  order: 1;
}

.header__info {
  margin: 18px 0px 0px 363.54px;
  line-height: 150%;
  color: #666666;
  order: 2;
}

.burger-button {
  display: none;
  order: 3;
}

.header__menu {
  margin-top: 23px;
}

.menu {
  position: relative;
  width: 100%;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  background: #FFFFFF;
}

.menu__burger {
  position: fixed;
  display: block;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 694px;
  width: 90vw;
  min-height: 386px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.menu__burger > .burger-button {
  position: absolute;
  top: 8px;
  right: 20px;
  min-width: 24px;
  height: 24px;
  background: url(../img/burger1.svg);
}

.menu__list {
  display: flex;
  min-height: 78px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu__list > * {
  flex: 1 1 20%;
  height: 50px;
  align-items: center;
}

.menu__list > *:not(:last-child) {
  border-right: 1px solid #E2E2E2;
}

.menu__item {
  display: flex;
  justify-content: center;
}

.menu__link {
  color: inherit;
}

.main-bg__container {
  position: relative;
  width: 100vw;
  min-height: 866px;
  overflow: hidden;
  margin-top: 153px;
  --position: 50%;
}

.slider-image {
  object-fit: cover;
  min-height: 100%;
  position: absolute;
  top: 0;
}

.main-bg__first {
  left: 0;
  width: var(--position);
  z-index: 10;
  object-position: left;
}

.main-bg__second {
  right: 0;
  z-index: 9;
  width: calc(100vw - var(--position));
  object-position: right;
}

.main-bg__slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  width: 100vw;
  height: 100%;
  z-index: 21;
}

.main-bg__slider_button {
  position: absolute;
  top: 50%;
  left: calc(var(--position) + 1px);
  transform: translate(-50%, -23%);
  pointer-events: none;
  z-index: 14;
  background: #FF0000;
  border-radius: 50%;
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 36px;
  padding: 0px 8px;
}

.main-bg__slider_button .button-line {
  transform: rotate(90deg);
  width: 30px;
  height: 1px;
  background: #fff;
  opacity: 1;
  margin: 0px;
}

.main-bg__slider_button span {
  margin-bottom: 5px;
}

.main-bg__slider_line {
  position: absolute;
  inset: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
  left: calc(var(--position) + 1px);
  transform: translateX(-50%);
  z-index: 13;
}

.mini-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 38px 40px 37px 41px;
  width: 280px;
  height: 217px;
  background: #fff;
  z-index: 25;
}

.mini-block_left {
  position: absolute;
  left: 0;
  top: 493px;
}

.mini-block_right {
  position: absolute;
  right: 0;
  top: 494px;
}

.mini-block__head {
  display: flex;
  align-items: flex-start;
}

.mini-block__head > *:not(:last-child) {
  margin-right: 8px;
}

.mini-block__head > *:last-child {
  margin-top: -3px;
  font-size: 16px;
  line-height: 138%;
  color: #666666;
}

.mini-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 50px;
  border: 1px solid #666666;
  border-radius: 25px;
}

.parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.parts__logo {
  width: 184px;
  height: 67px;
  margin-bottom: 27px;
}

.parts__text {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 30px;
}

.parts__menu {
  margin-bottom: 30px;
}

.menu-p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-p > *:not(:last-child) {
  margin-right: 17px;
}

.menu-p__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  max-width: 442px;
  height: 386px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.menu-p__item > h3 {
  font-size: 20px;
  line-height: 130%;
  margin-top: 27px;
}

.menu-p__item > hr {
  background: #E2E2E2;
  width: 355px;
  margin-top: 9px;
}

.menu-p__item > span {
  line-height: 138%;
  color: #666666;
  max-width: 211px;
  text-align: center;
  margin-top: 14px;
}

.parts_info {
  width: 811px;
  text-align: center;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 153px;
  padding-top: 100px;
}

.contacts__left {
  max-width: 100%;
  padding-top: 21px;
  margin-left: 1px;
}

.contacts__left h3 {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 37.4px;
}

.contacts__info > *:not(:last-child) {
  margin-bottom: 37.4px;
}

.contacts__info > *:nth-child(3),
.contacts__info > *:nth-child(4) {
  line-height: 160%;
}

.contacts__info > *:nth-child(odd) a {
  color: #337AB7;
}

.contacts__info > *:nth-child(2) span:nth-child(even) {
  color: #999;
}

.contacts__info > *:nth-child(2) span:nth-child(odd) {
  color: #79509A;
}

.contacts__google-map {
  position: relative;
  max-width: 1001px;
  width: 100%;
  height: 570px;
}

.contacts__google-map_mobile {
  height: 570px;
}

#mapDiv {
  top: 500px;
  left: 1000px;
}

.footer {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  background: #F9F9F9;
}

.footer__menu {
  margin-top: -36px;
}

.footer__text {
  font-size: 14px;
  line-height: 143%;
  color: #999;
  text-align: justify;
  margin-top: 26px;
}

.footer__copywrite {
  margin-left: auto;
  font-size: 14px;
  line-height: 143%;
  color: #999;
  margin-top: -8px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  background: #F9F9F9;
  --adapt_padding: 20px;
}

.main {
  min-height: 68.3vh;
  margin-bottom: 105px;
}

.wrapper_ {
  width: 100%;
  padding: 0px var(--adapt_padding);
}

.container_ {
  --container_width: 1360px;
  max-width: var(--container_width);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 500.1px) {
  .parts__text br {
    display: none;
  }

  .parts_info br {
    display: none;
  }

  .contacts_br {
    display: none;
  }
}

@media (min-width: 992.1px) {
  .menu__burger {
    display: none;
  }
}

@media (min-width: 2500px) {
  .main-bg__container {
    min-height: 1280px;
  }
}

@media (max-width: 1400px) {
  .main-bg__container {
    min-height: 650px;
  }

  .contacts {
    align-items: center;
  }

  .contacts__left {
    padding-top: 0px;
  }
}

@media (max-width: 992px) {
  .header__container {
    min-height: 67px;
  }

  .header__logo img {
    width: 182.86px;
  }

  .header__info {
    margin: 11px 0px 0px 102.14px;
  }

  .burger-button {
    display: block;
    min-width: 40px;
    height: 22px;
    margin-top: 12px;
    border: transparent;
    margin-left: auto;
    background: url(../img/burger.svg);
  }

  .menu {
    display: none;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    min-height: 348px;
    margin-top: 36px;
  }

  .menu__list > * {
    flex: 1 1 20%;
    width: 100%;
    align-items: center;
    font-size: 18px;
    line-height: 133%;
  }

  .menu__list > *:not(:first-child) {
    border-top: 1px solid #E2E2E2;
    border-right: 0px;
  }

  .menu__list > *:first-child {
    border-right: 0px;
  }

  .main-bg__container {
    display: none;
  }

  .no-desktop-blocks {
    display: flex;
    justify-content: center;
    padding: 0px 15px;
    margin-top: 124px;
  }

  .no-desktop-blocks > *:not(:last-child) {
    margin-right: 30px;
  }

  .mini-block {
    padding: 41px 50px 41px 50px;
    min-width: 324px;
    height: 222px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px #c4c4c4;
  }

  .mini-block img {
    width: 46.85px;
    height: 46.85px;
  }

  .mini-block_left {
    position: relative;
    left: 0;
    top: 0;
  }

  .mini-block_right {
    position: relative;
    right: 0;
    top: 0;
  }

  .mini-block__head > *:not(:last-child) {
    margin-right: 9px;
  }

  .mini-block__head > *:last-child {
    margin-top: 1px;
  }

  .parts {
    margin-top: 60px;
  }

  .parts__logo {
    margin-bottom: 9px;
  }

  .parts__text {
    font-size: 16px;
    line-height: 138%;
    margin-bottom: 21px;
  }

  .parts__menu {
    margin-bottom: 8px;
  }

  .menu-p {
    -webkit-column-gap: 28px;
    row-gap: 11px;
  }

  .menu-p > *:not(:last-child) {
    margin-right: 0px;
  }

  .menu-p__item {
    width: 327px;
    height: 282px;
  }

  .menu-p__item > img {
    width: 327px;
  }

  .menu-p__item > hr {
    width: 283px;
    margin-top: 5px;
  }

  .menu-p__item > h3 {
    margin-top: 9px;
  }

  .menu-p__item > span {
    margin-top: 2px;
  }

  .parts_info {
    max-width: 708px;
    width: 95%;
  }

  .contacts {
    flex-wrap: wrap;
    align-items: center;
    padding-top: 26px;
  }

  .contacts {
    padding-top: 25px;
  }

  .contacts__left h3 {
    margin-bottom: 29px;
  }

  .contacts__left {
    width: 100%;
  }

  .contacts__info {
    display: grid;
    grid-template-columns: 52.3% 47%;
  }

  .contacts__info > *:not(:last-child) {
    margin-bottom: 47px;
  }

  .contacts__google-map {
    margin-top: 48px;
  }

  .contacts__google-map_mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-left: calc(var(--adapt_padding) * -1);
  }

  .footer {
    min-height: 200px;
    padding-bottom: 20px;
  }

  .footer__menu {
    display: none;
  }

  .footer__text {
    margin-top: -6px;
  }

  .footer__copywrite {
    margin-top: 16px;
  }

  .main {
    margin-bottom: 17px;
  }

  .wrapper_ {
    --adapt_padding: 15px;
  }

  .container_ {
    --container_width: 708px;
  }
}

@media (max-width: 710px) {
  .mini-block {
    flex: 1 1 auto;
  }
}

@media (max-width: 680px) {
  .no-desktop-blocks {
    flex-wrap: wrap;
  }

  .no-desktop-blocks > *:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 12px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0px 15px;
  }

  .header__container {
    min-height: 105px;
  }

  .header__container_upper {
    flex-wrap: wrap;
  }

  .header__logo img {
    width: 183.86px;
  }

  .header__info {
    order: 3;
    margin: 14px auto;
  }

  .burger-button {
    min-width: 31px;
    height: 22px;
    margin-top: 5px;
    order: 2;
    background-size: cover;
  }

  .parts {
    margin-top: 49px;
  }

  .parts__logo {
    margin-bottom: 19px;
  }

  .parts__text {
    font-size: 16px;
    line-height: 138%;
    text-align: center;
  }

  .menu-p {
    row-gap: 23px;
    margin-bottom: 33px;
  }

  .menu-p__item {
    width: 290px;
    height: 250px;
    margin-bottom: 0px;
  }

  .menu-p__item > img {
    width: 290px;
  }

  .menu-p__item > hr {
    width: 250px;
    margin-top: 1px;
  }

  .menu-p__item > h3 {
    margin-top: 7px;
  }

  .menu-p__item > span {
    margin-top: -3px;
  }

  .contacts__left h3 {
    margin-bottom: 39px;
  }

  .contacts__info {
    grid-template-columns: 100%;
  }

  .contacts__info > *:not(:last-child) {
    margin-bottom: 37px;
  }

  .contacts__google-map {
    margin-top: 24px;
  }

  .footer {
    min-height: 200px;
    padding-bottom: 15px;
  }

  .footer__text {
    margin-top: 48px;
  }

  .footer__copywrite {
    margin-top: 10px;
  }

  .main {
    margin-bottom: 12px;
  }
}

@media (max-width: 400px) {
  .no-desktop-blocks {
    margin-top: 147px;
    flex-direction: column;
  }

  .mini-block {
    padding: 39px 34px 35px 34px;
    min-width: 290px;
    min-height: 197px;
    box-shadow: 3px 3px 7px #c4c4c4;
    flex: 0 0;
  }

  .mini-block img {
    width: 42px;
    height: 42px;
  }

  .mini-block__head > *:not(:last-child) {
    margin-right: 7px;
  }

  .mini-block__head > *:last-child {
    margin-top: -5px;
  }

  .mini-block__button {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 992px) and (min-width: 400.1) {
  .mini-block_left {
    padding: 41px 37px 41px 36px;
  }
}

@media (max-width: 992px) and (min-width: 400.1px) {
  .mini-block__button {
    width: 224px;
    min-height: 56px;
    border-radius: 28px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 992px) and (min-width: 708px) {
  .contacts__google-map_mobile {
    margin-left: calc((var(--container_width) - 100vw) / 2);
  }
}